<div id="bar">
	<ul>
    	<li><%= link_to 'Inicio', pages_path %></li>
        <li><%= link_to 'Nosotros', panorama_general_path %></li>
        <li><%= link_to 'Productos', categories_path %></li>
        <li><%= link_to 'Refacciones', refacciones_path %></li>
        <li><%= link_to 'Reparaci&oacute;n Certificada', reparacion_certificada_path %></li>
         <li><%= link_to 'Asistencia Tecnica', asistencia_tecnica_path %></li>
		<li><a href="#">Noticias</a></li>
        <li><a href="mailto:ventas@proquipo.com">Contacto</a></li>
	</ul>
	<div id="social-media">
		<p><%= image_tag 'facebook-icon.gif', :alt => 'Facebook' %> <%= image_tag 'twitter-icon.gif', :alt => 'Twitter' %> <%= image_tag 'youtube-icon.gif', :alt => 'YouTube' %> <%= image_tag 'flickr-icon.gif', :alt => 'Flickr' %> <%= image_tag 'vimeo-icon.gif', :alt => 'Vimeo' %></p>
	</div><!--end social-media-->
</div><!--end bar-->