<div id="submenu-pie">
	<p><%= link_to 'Panorama General', reparacion_certificada_path %> <%= link_to 'Promesa de Beneficio', promesa_de_beneficio_path %> <%= link_to 'Comparaci&oacute;n', comparacion_path %> <%= link_to 'Garantia', garantia_path %> <%= link_to 'Solicitud de Garantias', solicitud_de_garantias_path %></p>
</div><!--end submenu-pie-->