<div id="submenu-pie">
	<p><%= link_to 'Panorama General', refacciones_path %> <%= link_to 'Como Realizar su Pedido', como_realizar_su_pedido_path %> <%= link_to 'Politicas de Devoluci&oacute;n', politicas_de_devolucion_path %> <%= link_to 'Tiempos de Entrega', tiempos_de_entrega_path %> <%= link_to 'Notas Importantes', notas_importantes_path %> <%= link_to 'Limites y Exclusiones', limites_y_exclusiones_path %></p>
</div><!--end submenu-pie-->