<div id="submenu-pie">
	<p><%= link_to 'Panorama General', panorama_general_path %> <%= link_to 'Misi&oacute;n', mision_path %> <%= link_to 'Valores Escenciales', valores_escenciales_path %> <%= link_to 'Beneficio a Cliente', beneficio_a_cliente_path %> <%= link_to 'Sistema de Ventas', sistema_de_ventas_path %> <%= link_to 'Politica de Ventas', politica_de_ventas_path %> <%= link_to 'ProquipoTV', proquipotv_path %></p>
</div><!--end submenu-pie-->