<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Misi&oacute;n</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<%= image_tag 'proquipo-fachada-dos.jpg', :class => 'img-izq-up' %>
			<h2>Nuestra Misi&oacute;n</h2>
			<p><strong>La satisfacción del cliente va m&aacute;s all&aacute; de la calidad superior en el producto, se requiere aydarle en su negocio y trabajar conjuntamente obteniendo una ganancia mutua derivada de una relaci&oacute;n a largo plazo.</strong></p>
			<p>Nosotros queremos llegar a ser el Principal Distribuidor especialista de equipo portatil para la construcci&oacute;n en B.C.N. con un enfoque en el servicio especializado y personalizado al contratista profecional, ofr&eacute;ciendole una soluci&oacute;n total sin igual en el mercado.</p>
			<p><a href="#">Descargar PDF</a>.</p>
			
			<h3>Divisi&oacute;n Comercial</h3>
			<%= image_tag 'proquipo-fachada-tres.jpg', :class => 'img-der' %>
			<ol>
				<li>Proveer valor a nuestros clientes, valor a nuestros empleados, valor a nuestros  proveedores y valor a nuestros accionistas.</li>
				<li>Servir las necesidades de clientes profesionales en el sector de la construcci&oacute;n, industrial y comercio aportando las mejores soluciones a sus requerimientos de equipo.</li>
				<li>Proveer sistemas completos de equipo port&aacute;til de construcci&oacute;n y accesorios.</li>
				<li>Vender equipo de construcci&oacute;n portátil de calidad junto con el soporte de reparaci&oacute;n especializada y refacciones genuinas a un precio razonable.</li>
				<li>Ofrecer una gama exclusiva de servicios superiores desde educaci&oacute;n en el uso del equipo, hasta ayuda directa en la obra, de manera que los clientes puedan aprovechar al m&aacute;ximo sus productos adquiridos con nosotros.</li>
				<li>Aplicar los estandares y normas m&aacute;s elevadas de calidad, profesionalismo e integridad a nuestros procesos internos del negocio.</li>	
			</ol>
			<%= image_tag 'proquipo-fachada-cuatro.jpg', :class => 'img-der' %>
			<ul class="ul-list">
				<li>Crecimiento</li>
				<li>Rentabilidad</li>
				<li>Calidad</li>
				<li>Valor</li>
				<li>Integridad</li>
			</ul>
		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>
