<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Panorama General</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			
			<%= image_tag 'proquipo-fachada.jpg', :class => 'img-izq-up' %>
			<h2>Proquipo</h2>
			<p><strong>Proquipo es su Concesionario Autorizado de equipo portatil para la construccion que opera de manera sistematica, consistente y competitiva, distribuyendo equipo profesional, refacciones genuinas, accesorios originales y reparación certificada.</strong></p>
			<p>Proquipo distribuye las marcas mas reconocidas en la industria de la construccion y mantenemos contratos de distribucion para nuestra zona con los Fabricantes de equipo original (OEM’S) mas reconocidos en la industria.</p>
			<p><a href="#">Ver listado de fabricantes</a>.</p>
		
			<p><strong>Proquipo tambien comercializa Equipo Usado junto con el respaldo completo de refacciones, reparacion, capacitacion y garantia limitada a un precio competitivo.</strong></p>
			<p>Algunos de los beneficios que les ofrecemos a nuestros clientes son:</p>
			<%= image_tag 'proquipo-team-01.jpg', :class => 'img-der-down' %>
			<ul class="ul-list">
				<li>Respaldo de un negocio profesional con mas de 40 a&ntilde;os en la regi&oacute;n.</li>
				<li>Distribuci&oacute;n Autorizada y precios de venta oficiales.</li>
				<li>Sistema de ventas para asegurar que usted adquiera el producto que necesita.</li>
				<li>Precios competitivos y ahorros comprobables.</li>
				<li>Venta especializada de equipo.</li>
				<li>Venta especializada de refacciones.</li>
				<li>Informaci&oacute;n detallada del producto.</li>
				<li>Asesoramiento profesional y soluciones comerciales.</li>
				<li>Equipos usados confiables con un servicio completo previo a la venta.</li>
				<li>La Garantia por escrito mas extensa en la region en equipo nuevo y usado.</li>
				<li>Capacitacion al operador y asistencia tecnica.</li>
				<li>Reparacion Profesional Certificada.</li>
				<li>Simplicidad para realizar pedidos especiales.</li>
				<li>Un trato honesto y claridad en todas nuestras negociaciones con el cliente.</li>
			</ul>
			<%= image_tag 'proquipo-team-02.jpg', :class => 'img-der-down' %>
			<h3>Nuestros clientes son:</h3>
			<p>Proquipo se enfoca en el sector de la construccion atendiendo al contratista peque&ntilde;o, mediano y grande, asi como clientes en los sectores de la industria, comercio y dependencias de gobierno.</p>
			<h3>Categorias de equipo:</h3>
			<p>Proquipo ofrece 17 †categorias de equipo portatil para la construccion, representando a los principales fabricantes y marcas de la industria.</p>
		
			<div class="normal-button">
				<h5><%= link_to 'Ir a Categorias', categories_path %></h5>
			</div><!--end normal-button-->
		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>
