<%= render :partial => 'submenu_reparaciones' %>

<div id="title">
	<h3>Panorama General de Reparaci&oacute;n Certificada</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<%= image_tag 'reparaciones-01.jpg', :class => 'img-izq-up' %>
			<h2>Reparaci&oacute;n Certificada</h2>
			<p>Proquipo es una empresa creada ara brindar una soluci&oacute;n integral de servicio especializado a los propietarios de equipos de construcción ligeros.</p>
			<p>Proquipo representa a los principales fabricantes de equipo portatil en la industria y estamos certificados para proporcionar una reparación profecional, especializada, asegurando a los propietarios de los equipos un servicio confiable, profecionalismo, honestidad, r&aacute;pidez en los plazos de entrega y un servicio post-veta inigualable.</p>
			<%= image_tag 'reparaciones-02.jpg', :class => 'img-der-down' %>
			<h3>Misi&oacute;n en el area de servicio</h3>
			<p>Proquipo es una empresa creada para proporcionar una soluci&oacute;n integral de repraci&oacute;n especializada a los propietarios de equipo de construcci&oacute;n ligero, ofreciendo un taller de reaparaci&oacute;n de clase mundial, completamente equipado para dar un servicio especializado a su equipo port&aacute;til, siguiendo unos procedimientos estrictamente normalizados para reparar su equipo bien, la primera vez en base a las especificaciones de servicio del fabricante.</p>
			<ol>
				<li>Proporcionando al contratista la m&aacute;xima calidad de reparaci&oacute;n.</li>
				<li>Beneficio y ahorro financiero para su negocio.</li>
				<li>Productividad en su trabajo y ahorro de tiempo.</li>
			</ol>
			<%= image_tag 'proquipo-team-02.jpg', :class => 'img-der' %>
			<h3>Su equipo en manos expertas!</h3>


		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_reparaciones_pie' %>